.contentsTop {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid grey;
  height: 70px;
  width: 100%;

}

.contentsTop h4 {
  font-family:var( --main-font);
  font-size: var(--h4-size);
  color: #717070;
  cursor: pointer;
  flex: 1;
  text-align: center;
  position: relative;
}

.contentsTop h4.active {
  font-weight: bold;
  color: black;
}
.contentsTop h4.active::before{
  position: absolute;
  content: '';
  bottom: 2px;
  height: 3px;
  background: black;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.contentsTop h4:nth-child(1).active::before {
  width: 72.5px;
}
.contentsTop h4:nth-child(2).active::before {
  width: 180px;
}
.contentsTop h4:nth-child(3).active::before {
  width: 155px;
}

.contentsButtons {
  width: 100%;
  background-color: #fff;
}

.contentsBottom {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center; 
  justify-items: center; 

}

.contentsBottom button {
  width: 185px;
  height: 45px;
  border-radius: 18px;
  margin: 5px;
  border: none;
  font-size: var(--p-size);
  font-family: var(--point-font);
}

.contentsBottom button:active{
  background-color: #888686;
}
.concon_box{
  position: relative;
}
.contentsGrid {
  width: 700px;
  padding: 16px;
  height: 680px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  margin-left: 1rem;
  position: relative;
}

.contentsGrid img{
  width: 200px;
  height: 200px;
  position: absolute;
  object-fit: cover;
  text-align: center;
  border-radius: 18px;
}

.selected {
  background-color: #ddd;
}

.ContentsTextBox {
  border-top: 1px solid black;
}

.popup {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border-radius: 18px;
  z-index: 999;
}

.popup img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.popup .prev_box,
.popup .next_box{
  cursor: pointer;
  border-radius: 18px;
  background-color: #e9e9e9;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 41%;
}
.popup .prev_box{
  left: -100px;
}
.popup .next_box{
  right: -100px;
}
.popup .prev-btn{
  left: 28px;
  width: 22px;
  height: 41px;
}
.popup .next-btn{
  right: 28px;
  width: 22px;
  height: 41px;
}

.blur-bg {
  filter: blur(8px);
}

/* 버튼과 이미지에 대한 스타일 */
.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 80px;
  height: 80px;

}

.prev-btn img, .next-btn img{
  width: 80px;
  height: 80px;
  border-radius: 18px;
}
.prev-btn {
  left: 15px;
}

.next-btn {
  right: 15px;
}

.detail-view {
  font-size: 22px;
  font-family: 'IBM Plex Sans KR';
  color: #000;
  height: 50px;
  position: absolute;
  right: -60px;
  top: -143px;
  display: flex;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
.detail-view:hover span,
.detail-view:hover {
  color: var(--sunny-gradient-down);
}

.detail-view img {
  width: 20px;
  border-radius: 0;
  height: 20px;
  margin-left: 10px;
}

.detail-view:hover img{
  filter: invert(75%) sepia(65%) saturate(2963%) hue-rotate(309deg) brightness(104%) contrast(104%);
}
/* BEST 더보기부분 */
.ContentsTextBox{
  padding-top:15px;
  align-items: center;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.ContentsTextBox h2{
  font-weight: 600;
  font-family: var(--main-font);
  margin-left: 32px;
  font-size: 32px;
}
.ContentsTextBox span{
  width: 155px;
  height: 50px;
  border-radius: 18px;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 20px;
  line-height: 2.5;
  margin-right: 30px;
}

.selected {
  background: linear-gradient(to bottom, var(--sunny-gradient-up), var(--sunny-gradient-down));
}

.unselected {
  background-color: #E9E9E9;
}

.contentsGrid div{
  width: 200px;
  height: 200px;
}
.contentsGrid div .item_box{
  opacity: 50%;
  display: none;
  flex-direction: column;
  padding: 22px;
  position: relative;
  border-radius: 18px;
  /* display: inline-block; */
  width: 200px;
  bottom: -55px;
  border-radius: 0 40px 18px 18px ;
  height: 145px;
  background-color: rgb(3, 0, 0);
  color: #fff;
}
.contentsGrid div .item{
  display: none;
  position: relative;
  top: -90px;
  padding: 5px;
  width: 200px;
  height: 145px;
  color: #fff;
}
.contentsGrid div .item p{
  font-size: 14px;
}
.contentsGrid div .item p:nth-child(1){
  padding-top: 10px;
}
.contentsGrid div .item p:nth-child(2){
  line-height: 1.5;
  border-bottom:  1px solid #fff;
}
.contentsGrid div .item p:nth-last-child(1){
  padding: 20px 0 0 10px;
  font-size: 12px;

}
.contentsGrid div:hover .item{
  display: block;
}
.contentsGrid div:hover .item_box{
  display: flex;
}