footer {
  width: 100%;
  height: 100px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFF;
}

.footerNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 80px;
  height: 80px;
}
.footerIcon img{
  position: relative;
  top: 50%;
}
.footerText {
  font-size: 0.75rem;
  position: relative;
  top:10px
}
.footerText1 {
  font-size: 0.75rem;
  position: relative;
  top:12px
}

.ham, .hamburgerMenu {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column; /* 세로에서 가로로 변경 */
  justify-content: space-between; 
  position: relative;
  top: 35%;
}

.ham span {
  display: block;
  height: 2px;
  background-color: black;
  width: 100%;
  border-radius: 5px;
}

.ham.active span {
  height: 4px;
}
