#app {
  height: 100%;
}
html,
body {
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.Maincontent2{
  background-color: #fff;
  width: 720px;
  height: 1077px;
  display: block;
}
.Maincontent2 .s {
  position: absolute;
  background-color: #e9e9e9;
  display: block;
  bottom: 59.3%;
  width: 620px;
  height: 1px;
}
.Maincontent2 .swiper .a{
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 620px;
  height: 300px;
  border-radius: 18px;
}
.Maincontent2 .swiper .imgbx{
  margin: 41% 0 0 -14%;
  left: 0;
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Maincontent2 .swiper .imgbx1{
  margin: 41% 0 0 -14%;
  left: 0;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Maincontent2 .swiper .imgbx div{
  width: 500px;
  display: flex;
}

.Maincontent2 .swiper .imgbx1 div{
  justify-content: space-between;
  width: 500px;
  display: flex;
}
.Maincontent2 .swiper .imgbx div nav{
  margin-left: 50px;
  height: inherit;
  width: 66%;
}
.Maincontent2 .swiper .imgbx1 div nav{
  height: inherit;
  width: 66%;
}
.Maincontent2 .swiper .imgbx .text_box p{
  font-family: var(--point-font);
  line-height: 2.3;
  font-size: 20px;
  color: #000;
}
.Maincontent2 .swiper .imgbx1 .text_box p{
  font-family: var(--point-font);
  line-height: 2.3;
  font-size: 20px;
  color: #000;
}
.Maincontent2 .swiper .imgbx .text_box p:nth-child(1){
  font-weight: 600;
}
.Maincontent2 .swiper .imgbx1 .text_box p:nth-child(1){
  font-weight: 600;
}
.Maincontent2 .swiper .imgbx img:nth-child(1){
  width: 140px;
  height: 110px;
  display: block;
}
.Maincontent2 .swiper .imgbx1 img:nth-child(1){
  width: 140px;
  height: 110px;
  display: block;
}
.Maincontent2 .swiper .imgbx img:nth-child(2){
  width: 140px;
  height: 110px;
  display: block;
}
.Maincontent2 .swiper .imgbx img:nth-child(3){
  width: 140px;
  height: 110px;
  display: block;
}
.Maincontent2 .swiper-slide {
  border-right:  1px none #E9E9E9;
  border-left: 1px none #E9E9E9;
  position: relative;
  background: #fff;
  width: 720px;
  height: 1077px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Maincontent2 .swiper-slide h4{
  font-family: var(--main-font);
  color: #000;
  position: absolute;
  top: 39px;
  left: 50px;
  font-weight:700;
  font-size:2rem;
}
.Maincontent2 .swiper-slide .tt{
  text-shadow: 6px 6px 6px #0f46dd;
  position: absolute;
  top: 25%;
  z-index: 1;
  font-size: 30px;
}
.Maincontent2 .swiper-slide:nth-child(1){
  color: #fff;
  background-size: cover;
}
.Maincontent2 .swiper-slide:nth-child(2){
  color: #fff;
  background-size: cover;
}
.Maincontent2 .swiper-slide:nth-child(3){

  color: #fff;
  background-size: cover;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: absolute;
    top: 3.1rem;
    transform: translate(190%);
    width: 250px;
    height: 50px;
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active{
  background-color: var(--sunny-gradient-up);
}
.Maincontent2 .swiper .imgbx:nth-of-type(4)
{
  height: 200px;
}
/* 버튼 클릭이벤트 지정 */
.Maincontent2 .swiper .btne{
  font-size: 16px;
  bottom: 60px;
  position: absolute;
  width: 278px;
  height: 51px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 2px gray;
  cursor: pointer;
}

.Maincontent2 .swiper .btne:active {
  background-color: #e6e6e6;
}

.Maincontent2 .swiper .btn_box,
.Maincontent2 .swiper .btn_box1,
.Maincontent2 .swiper .btn_box2{
  font-family: var(--point-font);
  font-size: 25px;
  color: #000;
  position: absolute;
  right:50px;
  justify-content: space-between;
  width: 150px!important;
  align-items: center;
  height: 50px;
  margin-top: 30px;
}
.Maincontent2 .swiper .btn1,
.Maincontent2 .swiper .btn2{
  background-color: #ffffff;
  border: none;
  font-size: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

