@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'IBM Plex Sans KR', sans-serif;*/

@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* Reset */
 * {
  outline:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
    width:100%;
}
html {
  font-size:16px;
  font-weight: normal;
}

body { 
    width:100%; 
    background:#fff; 
    min-width:320px;
    -webkit-text-size-adjust:none;
    word-wrap:break-word; 
    word-break:break-all; 
}

h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
ul,ol,li {
    list-style:none;
}

a {
    text-decoration:none;
    color: black;
} 

/* Root */

:root{

  /* font-family */
  --main-font : 'IBM Plex Sans KR';
  --point-font : 'omyu_pretty';

  /* 사용 예시
  h1 {
    font-family: var(--main-font), sans-serif; 'sans-serif'는 폰트가 로드되지 않았을 때 대체 폰트로 사용됩니다. 
  } */

  /* font-size */
  --h1-size : 4.813rem; /* 77px 데스크탑, 좌측 메인 캐치 프라이즈 77px */
  --h2-size : 2.5rem; /* 40px, 우측 메인 로고,  3가지 키워드 메뉴바(음식-카페디저트-핫플레이스)*/
  --h3-size : 2.25rem; /* 36px */
  --h4-size : 2rem; /* 32px 섹션 별 제목 사이즈 */
  --h5-size : 1.75rem; /* 28px */
  --h6-size : 1.5rem; /* 24px */
  --p-size : 1.25rem; /* 20px 우측 메인 온도 표시 부분, 해시태그, 햄버거 메뉴의 날씨 글자  */
  --span-size : 1.125rem; /* 18px, 햄버거 메뉴의 메뉴 사이즈, 최고 최저 온도 */
  --footer-size : 0.75rem; /* 푸터 글씨 사이즈(하단 메뉴) */
  
  /* main color */
  --beige-color : #FFE4DA;
  --orange-color : #FFB400;
  --yellow-color : #FFE345;
  --black-color: #000;
  --white-color: #fff;
  --gray-color : #E9E9E9;

  /* gradient color */
  --sunny-gradient-up : #FD82A7;  /* (그라데이션 맑은 날 (위)) */
  --sunny-gradient-down : #FF8585;  /* (맑은 날 (아래)) */
  --rainy-gradient-up : #33AED7;   /* (비오는 날 (위)) */
  --rainy-gradient-down : #6C92F2; /* (비오는 날 (아래)) */
  --cloudy-gradient-up :#135CA2; /* ( 흐린날 (위)) */
  --cloudy-gradient-down : #75C2F6; /* (흐린날 (아래)) */
  

}
