
  /* Main */
  .MainVisual{
    background-color: #fff;
    border: 1px none #000;
    border-top: 0;
    width: 720px;
    height: 400px;
  }
    
  .bodyWrap{
    width: 720px;
    position: absolute;
    top: 0;
    right: 5%;
  }
    
  /* 메인 배경 */
  .backG{
    position: relative;
  }
  
  .back {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
  }
  
  .mainImg {
    width: 100%;
    height: 100%;
  }
  
  .search {
    position: absolute;
    left: 25%;
    top: 30%;
  }
  
  .title,
  .title2 {
    color: #FFF;
    font-size: 4.813rem;
    text-indent: 35px;
    font-family: var(--main-font);
    font-weight: bold;
  }
  
  .titleText {
    padding: 1rem;
    width: 500px;
    height: 60px;
    border-radius: 18px;
    border: none;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
  }
  
  .finderIcon {
    filter: invert(100);
    position: absolute;
    right: 5%;
    bottom: 7%;
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  
  
  /* 사이드바 */
  .sideBar{
    width: 290px;
    height: 250vh;
  }
  
  .gnb {
    position: sticky;
    top: 0;
    transform: translateX(-50%);
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  
  }
  
  .gnb.on {
    transform: none;
    transition: .5s;
    opacity: 1;
    pointer-events: auto;
  }
  
  .nav {
    position: absolute;
    left: 0;
    font-family: var(--main-font);
    font-weight: bold;
    width: 290px;
    height: 100vh;
    font-size: 1.125rem;
    background-color: #FFF;
  }
  
  hr {
    opacity: 0.5;
    margin: 1rem 0;
  }
  
  .firUl {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 6rem 0 1rem 0;
    cursor: pointer;
  }
  
  .secUl li {
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
  
  .secUl .hotPlace {
    height: 81px;
    display: flex;
    align-items: center;
  }
  
  .thrUl li {
    padding: 1.5rem;
    cursor: pointer;
  }
  

  .forUl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
  }

    .forUl li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  
  .forUl li:nth-child(1){
    width: 40px;
    height: 40px;
  }  
  .food,
  .cafe {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  @media (max-width: 750px) {
    .backG{
      display: none;
    }
    .bodyWrap{
      right: 0 !important;
    }
    .gnb{
      z-index: 20;
    }
  }