/* .App {
  width: 720px;
} */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'IBM Plex Sans KR', sans-serif;*/
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* Reset */
 * {
  outline:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    width:100%;
}
html {
  font-size:16px;
  font-weight: normal;
}
body { 
    width:100%; 
    background:#fff; 
    min-width:320px;
    -webkit-text-size-adjust:none;
    word-wrap:break-word; 
    word-break:break-all; 
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:normal;
}
ul,ol,li {
    list-style:none;
}
a {
    text-decoration:none;
    color: black;
} 
/* Root */
:root{
  /* font-family */
  --main-font : 'IBM Plex Sans KR';
  --point-font : 'omyu_pretty';
  /* 사용 예시
  h1 {
    font-family: var(--main-font), sans-serif; 'sans-serif'는 폰트가 로드되지 않았을 때 대체 폰트로 사용됩니다. 
  } */
  /* font-size */
  --h1-size : 4.813rem; /* 77px 데스크탑, 좌측 메인 캐치 프라이즈 77px */
  --h2-size : 2.5rem; /* 40px, 우측 메인 로고,  3가지 키워드 메뉴바(음식-카페디저트-핫플레이스)*/
  --h3-size : 2.25rem; /* 36px */
  --h4-size : 2rem; /* 32px 섹션 별 제목 사이즈 */
  --h5-size : 1.75rem; /* 28px */
  --h6-size : 1.5rem; /* 24px */
  --p-size : 1.25rem; /* 20px 우측 메인 온도 표시 부분, 해시태그, 햄버거 메뉴의 날씨 글자  */
  --span-size : 1.125rem; /* 18px, 햄버거 메뉴의 메뉴 사이즈, 최고 최저 온도 */
  --footer-size : 0.75rem; /* 푸터 글씨 사이즈(하단 메뉴) */
  
  /* main color */
  --beige-color : #FFE4DA;
  --orange-color : #FFB400;
  --yellow-color : #FFE345;
  --black-color: #000;
  --white-color: #fff;
  --gray-color : #E9E9E9;
  /* gradient color */
  --sunny-gradient-up : #FD82A7;  /* (그라데이션 맑은 날 (위)) */
  --sunny-gradient-down : #FF8585;  /* (맑은 날 (아래)) */
  --rainy-gradient-up : #33AED7;   /* (비오는 날 (위)) */
  --rainy-gradient-down : #6C92F2; /* (비오는 날 (아래)) */
  --cloudy-gradient-up :#135CA2; /* ( 흐린날 (위)) */
  --cloudy-gradient-down : #75C2F6; /* (흐린날 (아래)) */
}

/* search */
.search_h{
  background-color: #fff;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 720px;
  height: 80px;
  }
  .search_h h1{
    font-family: var(--main-font);
    font-size: 33px;
    font-weight:700;
    padding-left: 2rem;
  }
  .searchItem{
    display: none;
    position: relative;
    width: 341px;
    height: 57px;
    margin-right: 2rem;
  }
  .searchItem input{
    font-family: var(--point-font);
    font-size: 16px;
    border-radius: 10px;
    border: none;
    width: inherit;
    height: inherit;
    background-color: #e9e9e9;
    text-align: center;
  }
  .searchItem img{
    cursor: pointer;
      filter: invert(100%);
      position: absolute;
      right: 1rem;
      top: 28%;
      width: 25px;
      height: 25px;
  }
  /* Main */
  .MainVisual{
    background-color: #fff;
    border: 1px solid #000;
    border-top: 0;
    width: 720px;
    height: 400px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .bodyWrap{
    width: 720px;
    position: absolute;
    top: 0;
    right: 5%;
  }
  
  /* 검색 */
  .search_h{
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 720px;
    height: 80px;
    }
    .search_h h1{
      font-family: var(--main-font);
      font-size: 33px;
      font-weight:700;
      padding-left: 2rem;
    }
    .searchItem{
      position: relative;
      width: 341px;
      height: 57px;
      margin-right: 2rem;
    }
    .searchItem input{
      font-family: var(--point-font);
      font-size: 16px;
      border-radius: 10px;
      border: none;
      width: inherit;
      height: inherit;
      background-color: #e9e9e9;
      text-align: center;
    }
    .searchItem img{
      cursor: pointer;
        filter: invert(100%);
        position: absolute;
        right: 1rem;
        top: 28%;
        width: 25px;
        height: 25px;
    }
  
  
  /* 메인 배경 */
  .backG{
    position: relative;
  }
  
  .back {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
  }
  
  .mainImg {
    width: 100%;
    height: 100%;
  }
  
  .search {
    position: absolute;
    left: 25%;
    top: 30%;
  }
  
  .title,
  .title2 {
    color: #FFF;
    font-size: 4.813rem;
    text-indent: 35px;
    font-family: var(--main-font);
    font-weight: bold;
  }
  
  .titleText {
    padding: 1rem;
    width: 500px;
    height: 60px;
    border-radius: 18px;
    border: none;
    text-align: center;
    font-size: 22px;
    background-color: #ffffff;
  }
  
  .finderIcon {
    filter: invert(100);
    position: absolute;
    right: 5%;
    bottom: 7%;
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  
  
  /* 사이드바 */
  .sideBar{
    width: 290px;
    height: 250vh;
  }
  
  .gnb {
    position: sticky;
    top: 0;
    transform: translateX(-50%);
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
  
  }
  
  .gnb.on {
    transform: none;
    transition: .5s;
    opacity: 1;
    pointer-events: auto;
  }
  
  .nav {
    position: absolute;
    left: 0;
    font-family: var(--main-font);
    font-weight: bold;
    width: 290px;
    height: 100vh;
    font-size: 1.125rem;
    background-color: #FFF;
  }
  
  hr {
    opacity: 0.5;
    margin: 1rem 0;
  }
  
  .firUl {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 6rem 0 1rem 0;
    cursor: pointer;
  }
  
  .secUl li {
    padding: 1rem 1.5rem;
    cursor: pointer;
  }
  
  .secUl .hotPlace {
    height: 81px;
    display: flex;
    align-items: center;
  }
  
  .thrUl li {
    padding: 1.5rem;
    cursor: pointer;
  }
  

  .forUl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
  }

    .forUl li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  
  .forUl li:nth-child(1){
    width: 40px;
    height: 40px;
  }  
  .food,
  .cafe {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  @media (max-width: 750px) {
    .searchItem{
      display: block;
    }
    .backG{
      display: none;
    }
    .bodyWrap{
      right: 0 !important;
    }
    .gnb{
      z-index: 20;
    }
  }